.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
.python-version
.venv/
env/
venv/

data/
results/
artifacts/
external_results/
benchmarks
periphery_distances.csv

*.h5ad
*.pth
*.pt
*.npz
*.npy
*.pdf
*.svg
*.png
!workflows/**/*.png
!workflows/**/*.pdf
!workflows/**/*.svg
